html, body {
    background-color: #1a1a1a;
    color: #cfcfcf;
  }
  
  h1, h2, h3, p, li, th, td {
    color: #cfcfcf;
  }
  
  a {
    color: #3498db;
  }
  
  a:visited {
    color: #9b59b6;
  }
  
  ul, tbody, tr, table, section {
    background-color: #1a1a1a;
  }
  
  th, td {
    border: 1px solid #555;
  }
  