---
---

@import "{{ site.theme }}";

// Dark mode overrides
body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
}

a {
  color: var(--link-color);
}

.highlight {
  background-color: var(--secondary-color);
}

pre {
  background-color: var(--secondary-color);
}

code {
  background-color: var(--secondary-color);
}

.site-footer {
  border-top: solid 1px var(--text-color);
}