---
---

@import "{{ site.theme }}";


body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
  }
  font-size: 12px; /* Adjust font size */
}

a {
  color: var(--link-color);
}

.highlight {
  background-color: var(--secondary-color);
}

pre {
  background-color: var(--secondary-color);
}

code {
  background-color: var(--secondary-color);
}

.site-footer {
  border-top: solid 1px var(--text-color);
}

.dataTables_wrapper {
  font-size: 14px;
  color: var(--text-color); /* Adjust text color */
  background-color: var(--primary-color); /* Adjust background color */
}

.datatable {
  width: 100% !important; /* Ensure full width */
  margin-bottom: 20px;
}

.datatable th, .datatable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--text-color);
}

.datatable th {
  background-color: var(--secondary-color);
  font-weight: bold;
}

.dataTables_filter {
  margin-bottom: 10px;
}

.dataTables_filter input {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 5px;
}
