---
---

html, body {
    background-color: #1a1a1a;
    color: #cfcfcf !important;
  }
  
  h1, h2, h3, p, li, th, td {
    color: #cfcfcf !important;
  }
  
  a {
    color: #3498db !important;
  }
  
  a:visited {
    color: #9b59b6 !important;
  }
  
  ul, tbody, tr, table, section {
    background-color: #1a1a1a !important;
  }
  
  th, td {
    border: 1px solid #555 !important;
  }
  